
header h1 {
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    color: rgb(255, 238, 139);
    align-items: center;
    text-shadow: 3px 3px 1px black;
    text-decoration: underline;
}

header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: rgb(255, 238, 139);
    z-index: 1;
    border: 40px;
    border-radius: 40px 20px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(116, 116, 255);
}

nav ul{
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 10px;
    list-style: none;
    justify-content: center;
    font-family: Arial;
    font-size: 26px;
    
}

nav li {
    z-index: 3;
    font-weight: bold;
    border: 50px;
    border-radius: 30px 10px;
    background-color: rgb(255, 238, 139);
    box-shadow: 6px 6px 6px lightgray;
    padding: 15px;
    margin: 5px;
    gap: 2px;
    color: rgb(255, 238, 139);
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    color: rgb(116, 116, 255);
    text-shadow: 3px 3px 1px lightgray;
}

h2 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    font-family: Arial;
    color: rgb(116, 116, 255);
}

main p {
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#mission {
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    margin-left: 75px;
    margin-right: 75px;
    position: sticky;
}

#container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content {
    padding-top: 10px;
    box-shadow: 6px 6px 6px lightgray;
    border: 1px solid rgb(116, 116, 255);
    border-radius: 20px;
    border-width: 3px;
    align-items: center;
}

.content img {
    width: 500px;
}

.content p {
    text-align: center;
    font-size: 20px;
    text-shadow: 3px 3px 1px lightgray;
}

#text {
    padding: -20px;
    padding-top: -40px;
    padding-bottom: -40px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

main p{
    text-align: center;
    font-size: 20px;
}

div.floatleft, div.floatright {
    padding: 10px;
    padding-bottom: 300px;
    border: 10px;
    margin: 10px;
    margin-bottom: 30px;
    
}

img.floatright {
    width: 500px;
    float: right;
}

img.floatleft {
    width: 500px;
    float: left;
}

div.floatleft h1, div.floatleft h2, div.floatleft h3, div.floatleft p{
    text-align: left;
    padding: 5px;
    border: 5px;
    margin: 5px;
    clear: both;
}

div.floatright h1, div.floatright h2, div.floatright h3, div.floatright p{
    text-align: right;
    padding: 5px;
    border: 5px;
    margin: 5px;
    clear: both;
}

div.floatright h3, div.floatleft h3 {
    font-size: 30px;
    text-shadow: 3px 3px 1px lightgray;
    font-weight: none;
}

div.floatright p, div.floatleft p {
    font-size: 20px;
    text-shadow: 3px 3px 1px lightgray;
    font-weight: none;

}

#grid-container {
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: auto-fit;
}

#grid-container div {
    text-align: center;
    border: 3px solid rgb(116, 116, 255);
}

#grid-container img {
    width: 400px;
}