

.title {
    font-size: 50px;
    text-align: center;
    font-family: Arial;
    color: rgb(255, 238, 139);
    border: 10px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(116, 116, 255);
}

.nav {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    font-family: Arial;
    font-size: 20px;
}

.nav li {
    font-weight: bold;
}

.about {
    font-size: 50px;
    text-align: center;
    font-family: Arial;
    color: rgb(116, 116, 255);
}

.missionStatement {
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    margin-left: 75px;
    margin-right: 75px;
    position: sticky;
}

.studioStatement {
    font-weight: bold;
}

.introHome{
    text-align: center;
    font-weight: bold;
}

#container {
    /* used for pictures*/
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo {
    width: 500px;
}

.content {
    box-shadow: 3px 3px 3px lightgray;
    border: 1px solid rgb(116, 116, 255);
}

.latestTitle {
    padding: -10px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.text {
    text-align: center;
    font-size: 20px;
}